---
- name: generate systemd service unit file for {{ systemd_service_name }}
  ansible.builtin.template:
    src: "{{ systemd_service_template }}"
    dest: "/usr/lib/systemd/system/{{ systemd_service_name }}.service"
    owner: root
    group: root
    mode: '0644'
  when: systemd_service_template is defined
  notify: reload systemd
- name: generate systemd target unit file for {{ systemd_service_name }}
  ansible.builtin.template:
    src: "{{ systemd_target_template }}"
    dest: "/usr/lib/systemd/system/{{ systemd_service_name }}.target"
    owner: root
    group: root
    mode: '0644'
  when: systemd_target_template is defined
  notify: reload systemd
- name: generate systemd timer unit file for {{ systemd_service_name }}
  ansible.builtin.template:
    src: "{{ systemd_timer_template }}"
    dest: "/usr/lib/systemd/system/{{ systemd_service_name }}.timer"
    owner: root
    group: root
    mode: '0644'
  when: systemd_timer_template is defined
  notify: reload systemd

