{% for dataset in sanoid_datasets %}
[{{ dataset.name }}]
    use_template = {{ [dataset.templates] | mandatory | flatten | join(',') }}
    recursive = {{ 'yes' if (dataset.recursive | default(False)) else 'no' }}
    process_children_only = {{ 'yes' if (dataset.process_children_only | default(False)) else 'no' }}
    skip_children = {{ 'yes' if (dataset.skip_children | default(False)) else 'no' }}
{%  if dataset.overrides | default([]) | length > 0 %}
{%   for setting, value in dataset.overrides.items() %}
    {{ setting }} = {{ value }}
{%   endfor %}
{%  endif %}
{% endfor %}


#############################
# templates below this line #
#############################

{% for template in sanoid_templates %}
[template_{{ template.name }}]
{%  for setting, value in template.items() %}
{%   if setting != 'name' %}
    {{ setting }} = {{ value }}
{%   endif %}
{%  endfor %}
{% endfor %}
