{%- macro healthcheck(sync) -%}
{%-  if sync.healthchecks is defined -%}
{{ syncoid_healthchecks_runitor_binary }} -create -- {{ syncoid_path | default(syncoid_bin_path) }} \
{%-  else -%}
{{ syncoid_path | default(syncoid_bin_path) }} \
{%-  endif -%}
{%- endmacro -%}

[Unit]
Description=Replicate sanoid {{ syncoid_sync_name }} snapshots
Requires=zfs.target
After=zfs.target {{ syncoid_after_services | map('regex_replace', '$', '.service') | join(' ') }}

[Service]
Type=oneshot
{% if syncoid_sync.healthchecks is defined %}
Environment="HC_API_URL={{ syncoid_sync.healthchecks.api_url | default(syncoid_healthchecks_api_url) | default('https://hc-ping.com') }}"
Environment="PING_KEY={{ syncoid_sync.healthchecks.ping_key | default(syncoid_healthchecks_ping_key) }}"
Environment="CHECK_SLUG={{ syncoid_sync.healthchecks.slug }}"
{% endif %}
ExecStart={{ healthcheck(syncoid_sync) }}
{%  if syncoid_sync.identifier | default('') %}
  --identifier={{ syncoid_sync.identifier }} \
{% endif %}
{% if syncoid_sync.force_delete | default(False) %}
  --force-delete \
{% endif %}
{% if syncoid_sync.recursive | default(False) %}
  --recursive \
{%  if syncoid_sync.skip_parent | default(False) %}
  --skip-parent \ {# only relevant if --recursive #}
{%  endif %}
{% endif %}
{% if syncoid_sync.compress | default('') %}
  --compress={{ syncoid_sync.compress }} \
{% endif %}
{% if syncoid_sync.source_bwlimit | default('') %}
  --source-bwlimit={{ syncoid_sync.source_bwlimit }} \
{% endif %}
{% if syncoid_sync.target_bwlimit | default('') %}
  --target-bwlimit={{ syncoid_sync.target_bwlimit }} \
{% endif %}
{% if syncoid_sync.mbuffer_size | default('') %}
  --mbuffer-size={{ syncoid_sync.mbuffer_size }} \
{% endif %}
{% if syncoid_sync.pv_options | default('') %}
  --pv-options={{ syncoid_sync.pv_options }} \
{% endif %}
{% if syncoid_sync.no_stream | default(False) %}
  --no-stream \
{% endif %}
{% if syncoid_sync.no_sync_snap | default(False) %}
  --no-sync-snap \
{%  if syncoid_sync.create_bookmark | default(False) %}
  --create-bookmark \
{%  endif %}
{% endif %}
{% if syncoid_sync.keep_sync_snap | default(False) %}
  --keep-sync-snap \
{% endif %}
{% if syncoid_sync.preserve_recordsize | default(True) %}
  --preserve-recordsize \
{% endif %}
{% if syncoid_sync.no_clone_rollback | default(False) %}
  --no-clone-rollback \
{% endif %}
{% if syncoid_sync.no_rollback | default(False) %}
  --no-rollback \
{% endif %}
{% for sync_exclude in syncoid_sync.exclude | default([]) %}
  --exclude={{ sync_exclude }} \
{% endfor %}
{% if syncoid_sync.send_options | default(syncoid_send_options) | default(False) %}
  --sendoptions={{ syncoid_sync.send_options | default(syncoid_send_options) }} \
{% endif %}
{% if syncoid_sync.recv_options | default(syncoid_recv_options) | default(False) %}
  --recvoptions={{ syncoid_sync.recv_options | default(syncoid_recv_options) }} \
{% endif %}
{% if syncoid_sync.no_privilege_escalation | default(False) %}
  --no-privilege-escalation \
{% endif %}
{% if syncoid_sync.no_resume | default(False) %}
  --no-resume \
{% endif %}
{% if syncoid_sync.no_clone_handling | default(False) %}
  --no-clone-handling \
{% endif %}
{% if syncoid_use_ssh_key | default(False) %}
  --sshkey {{ syncoid_ssh_key }} \
{% endif %}
{% if syncoid_sync.src_host | default('') %}
  {{ syncoid_sync.src_user | default('root') }}@{{ syncoid_sync.src_host }}:{{ syncoid_sync.src | mandatory }} \
{% else %}
  {{ syncoid_sync.src }} \
{% endif %}
{% if syncoid_sync.dest_host | default('') %}
  {{ syncoid_sync.dest_user | default('root') }}@{{ syncoid_sync.dest_host }}:{{ syncoid_sync.dest | mandatory }}
{% else %}
  {{ syncoid_sync.dest }}
{% endif %}
{% if syncoid_service_pre_start is defined and syncoid_service_pre_start %}
{%  for exec in syncoid_service_pre_start %}
ExecStartPre={{ exec }}
{%  endfor %}
{% endif %}
{% if syncoid_service_post_start is defined and syncoid_service_post_start %}
{%  for exec in syncoid_service_post_start %}
ExecStartPost={{ exec }}
{%  endfor %}
{% endif %}

[Install]
WantedBy={{ syncoid_service_name }}.target
